<div class="row">
  <div class="col-md-12">
    <h4>Results of sort</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <b>Iterations:</b>
    {{#if iterations}}
      {{iterations}}
    {{else}}
      0
    {{/if}}
  </div>

  <div class="col-md-6">
    {{#if result}}
      <b>Sorting array: </b>[{{result}}]
    {{else}}
      <b>Sorting array: </b><i>No data</i>
    {{/if}}
    <br />

    <b>Visual interpretation:</b>
    {{#if graph}}
      <br />
      {{#each graph as |g|}}
        <div style={{height-helper g}} class="bar progress-bar-info"><div>{{g}}</div></div>
      {{/each}}
    {{else}}
      <i>No data</i>
    {{/if}}
  </div>
</div>

<div class="row interpreter">
  <div class="col-md-12">
    <h4>JS Code:</h4>
    {{#if editMode}}
      {{ivy-codemirror value=code mode="javascript" lineNumbers=true theme="solarized"}}
    {{else}}
      <textarea style={{height-helper codeHeight}} readonly="readonly" id="code" >{{code}}</textarea>
    {{/if}}
    <br />

    {{#if editMode}}
      <button {{action "parseButton" code}}>Parse</button>
    {{else}}
      <button {{action "runButton" code}}>Run</button>
      <button {{action "stepButton" code}}>One step forward</button>
      <button {{action "runSlowButton" code}}>Run slowly</button>
      <button {{action "pauseButton" code}}>Pause</button>
      <button {{action "startEdition"}}>Edit</button>
    {{/if}}
  </div>
</div>
